.react-countdown-simple {
  color: #000;
  display: inline-flex;
  padding: 0 4px;
}

.react-countdown-simple__colon {
  padding: 0 6px;
  vertical-align: top;
}

.react-countdown-simple__date-time {
  display: inline-flex;
  font-size: 16px;
  justify-content: flex-start;
}

.react-countdown-simple__date-time span {
  display: inline-flex;
  min-width: 26px;
}
